<li id=<%= "todo_#{todo.id}" %>>
  <div class="view">
    <form>
      <input class="toggle" type="checkbox" checked>
    </form>
    <a><%= todo.title %></a>
    <%= form_for todo, :method => :delete, remote: true do |f| %>
      <%= f.button "", :class => "destroy" %>
    <% end %>
  </div>
  <form>
    <input class="edit" value="Taste the Ruby">
  </form>
</li>
