<li>
  <div class="view">
    <form>
      <input class="toggle" type="checkbox" checked>
    </form>
    <a><%= todo.title %></a>
    <form>
      <button class="destroy"></button>
    </form>
  </div>
  <form>
    <input class="edit" value="Taste the Ruby">
  </form>
</li>
