<!doctype html>
<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <form action="/todos" method="POST" data-remote="true">
      <input id="new-todo" placeholder="What needs to be done?"  name=
      "todo[title]" autofocus>
    </form>
  </header>
  <!-- This section should be hidden by default and shown when there are todos to display -->
  <section id="main">
     <form action="/todos/toggle_all_complete" method="POST" data-remote="true">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
    </form>
    <ul id="todo-list">
      <%= render @todos %>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer id="footer">
    <span id="todo-count"><strong><%= Todo.num_left_to_do %></strong> items left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="/">All</a>
      </li>
      <li>
        <a href="/active">Active</a>
      </li>
      <li>
        <a href="/completed">Completed</a>
      </li>
    </ul>
    <form id="destroy-complete" action="/todos/destroy_all_complete" method="POST" data-remote="true">
      <button id="clear-completed">Clear completed</button>
    </form>
  </footer>
</section>

